.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bordertop{
    border-top: 10px solid #252424
  }

.footer-column {
    width: calc(25% - 20px); /* Adjust width as needed */
    margin-right: 20px; /* Adjust margin between columns */
    vertical-align: top; /* Align content at the top of each column */
    display: inline-block;
    box-sizing: border-box; /* Ensure padding and border don't affect width */
}

.footer-column h4 {
    margin-bottom: 10px; /* Optional: add margin below heading */
}

.footer-column ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}
.footer-column ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.footer-column ul li {
    margin-bottom: 20px; /* Adjust line spacing by changing the value */
}
